RemoveHandler .html .htm
AddType text/html .html .htm

<Limit POST PUT>
Order Allow,Deny
Deny from All
</Limit>

<filesMatch "face_city_(.*)\.jpg$|tmp_join_impact_(.*)\.jpg|tmp_wall_(.*)\.jpg|tmp_chat_(.*)\.jpg|tmp_wall_(.*)\.gif|tmp_chat_(.*)\.gif|tmp_cover_(.*)\.jpg|tmp_cover_(.*)\.gif|tmp_event_(.*)\.jpg">
    <Limit GET POST PUT>
    Order Allow,Deny
    Allow from All
    </Limit>
</filesMatch>